<body>
    <h1 class="m-4" style="text-align: center;">Lista de Animales</h1>
    <br>
    <div class="container">
        <div class="p-3 mb-3" style="background-color: #e9e9e9;">
            <button class="btn m-1 float-right" style="background-color: #4f705d;color: #ffffff;"[routerLink]="['/animales/new']">
                Agregar Nuevo Animal
            </button>
            <table class="table table-striped table-bordered" style="text-align: center;">
                <thead class="thead-dark bg-info">
                    <tr>
                        <th style="background-color: #33493c; color: #ffffff;">Especie</th>
                        <th style="background-color: #33493c; color: #ffffff;">Nombre</th>
                        <th style="background-color: #33493c; color: #ffffff;">Estado</th>
                        <th style="width: 1%; background-color: #33493c; color: #ffffff;">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let animal of arrAnimales()">
                        <td>{{ animal.especie }}</td>
                        <td>{{ animal.nombre }}</td>
                        <td [ngClass]="{'text-success': animal.activo, 'text-danger': !animal.activo}">
                            {{ animal.activo ? 'Activo' : 'Inactivo' }}
                        </td>
                        <td class="btn-group" role="group" aria-label="Acciones">
                            <button class="btn btn-primary m-1" [routerLink]="['/animales', animal._id]">Detalles</button>
                            <button class="btn btn-warning m-1" style="color: #ffffff;" [routerLink]="['/animales/update', animal._id]">Modificar</button>
                            <button class="btn btn-danger m-1" (click)="onClickBorrar(animal._id)">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>
