<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="bg-light p-4 rounded" style="margin-top: 20%;">
                    <div style="font-size: 20px;">
                        <ul class="list-group">
                            <li class="list-group-item" 
                                style="background-color: #33493c;color: #ffffff;text-align: center; font-size: 28px;font:bold">
                                Datos de {{animal().nombre}}
                            </li>
                            <li class="list-group-item">Especie: <span class="fw-bold">{{ animal().especie }}</span></li>
                            <li class="list-group-item">Sexo: <span class="fw-bold">{{ animal().sexo }}</span></li>
                            <li class="list-group-item">Edad: <span class="fw-bold">{{ animal().edad }}</span></li>
                            <li class="list-group-item">Peso: <span class="fw-bold">{{ animal().peso }}</span></li>
                            <li class="list-group-item">Altura: <span class="fw-bold">{{ animal().altura }}</span></li>
                            <li class="list-group-item">Zona ubicado: <span class="fw-bold">
                                <ng-container *ngIf="animal().idZona === '65eccf35cd56ca1b93b6527a'">Zona Este</ng-container>
                                <ng-container *ngIf="animal().idZona === '65eccf35cd56ca1b93b6527b'">Zona Norte</ng-container>
                                <ng-container *ngIf="animal().idZona === '65eccf35cd56ca1b93b6527c'">Zona Oeste</ng-container>
                                <ng-container *ngIf="animal().idZona === '65eccf35cd56ca1b93b6527d'">Zona Sur</ng-container>
                            </span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>