body{
    background-image: url('https://i.pinimg.com/originals/fe/02/4e/fe024e50a71cfd6599841dbb2a144d2c.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}