<body>
    <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="bg-light p-4 rounded m-4">
                        <h1 class="m-1" style="text-align: center;">Registro</h1>
                        <form [formGroup]="formulario" (ngSubmit)="onSubmit()">        
                            <div class="m-5">
                                <div class="mb-3">
                                    <label for="nombre" class="form-label">Nombre</label>
                                    <input type="text" class="form-control" id="nombre" formControlName="nombre" required>
                                </div>       
                                <div class="mb-3">
                                    <label for="correo" class="form-label">Correo Eléctronico</label>
                                    <input type="text" class="form-control" id="correo" formControlName="correo" required>
                                </div>        
                                
                                <div class="mb-3">
                                    <label for="contrasenna" class="form-label">Contraseña</label>
                                    <input type="password" class="form-control" id="contrasenna" formControlName="contrasenna" required>
                                </div>  
                                <div class="mb-3">
                                    <label for="idRol" class="form-label">Rol de Usuario</label>
                                    <select class="form-select" id="idRol" formControlName="idRol" required>
                                        <option value=1>Administrador</option>
                                        <option value=2>Usuario</option>
                                    </select>
                                </div>            
                            </div>
                            <button type="submit" class="btn buttonSty w-100">Registrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</body>
